body{
    background-color: antiquewhite;
}
h1{
    color: green;
    text-align: center;
}
h2{
    text-align: center;
}
.login{
    background-color: lightgray;
    border-radius: 1em;
}
.login_opt{
    margin: 1em;
}
.box{
    border: 3px;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    width: 35%;
    /*display: flex;*/
}
.patiant{
    background-color: lightslategray;
    margin: 2em;
    
}
.doctor{
    background-color: green;
    margin: 2em;
}
.footer{
    background-color: green;
    text-align: center;
    border-radius: 1em;
}
input[type=text],input[type=password]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    cursor: pointer;
}
button[type=submit]{
    size-adjust: 50px;
}
.button:hover{
    opacity: 0.8;
}
.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.container{
    padding: 16px;
    /*display: block;*/
}
form{
    display: flex;
}
span.psw{
    float: right;
    padding-top: 16px;
}

@media(min-width:700px){
    .login_opt{
        display: flex;
    }
    /*form{
        display: block;
    }*/
    /*.box{
        display: flex;
    }
    input[type=text],input[type=password]{
        display: block;
    }
    /*.container{
        display: flex;
    }*/
}